# This is Git's per-user configuration file.
[user]
	name = rhubinak
	email = rhubinak@tuta.io
	signingkey = 7D347D5DBDA6C115A8D63F8EDB26942AC9FE4437

[core]
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	features = side-by-side line-numbers decorations
	whitespace-error-style = 22 reverse

[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow ul
	file-decoration-style = none

[gpg]
	program = gpg2

[commit]
	gpgsign = true

[pull]
	rebase = false

[push]
	default = simple
	autoSetupRemote = true

# Include company creds for repos inside company dir
[includeIf "gitdir:~/psh/**"]
	path = ~/psh/.gitconfig
